.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50%;
  height: 25px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 0 2px;
  width: 2.6rem;
  height: 1.6rem;
  background: linear-gradient(
    90deg,
    white,
    rgb(167, 125, 167),
    rgb(174, 86, 182)
  );
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: purple;
  cursor: pointer;
}

/* these all the CSS related to the loginpage and registration page  */
.padding-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: solid;
  text-align: center;
  font-size: xx-large;
  padding-left: 50px;
  display: inline;
}

.login-form {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
}

.login-form2 {
  padding: top 5px;
  padding-left: 100px;
}

.font-of-input-box {
  font-size: xx-large;
  font-weight: bolder;
  font-size: large;
  padding-top: 20px;
  padding-bottom: 20px;
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
  color: dimgray;
  background: none;
  border-color: rgb(167, 125, 167);
}

.font1 {
  font-size: xx-large;
  font: outline;
  font-stretch: wider;
  font-weight: unset;
  padding-bottom: 5px;
  color: midnightblue;
}

.Top-Form {
  margin-top: 10px;
  text-align: center;
  align-content: center;
  font-size: large;
  padding-top: 10px;
  text-shadow: blueviolet;
  text-decoration: dashed;
  font-weight: bold;
  text-indent: 500px;
  padding-bottom: 10px;
}

.text.box.size {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  size: 100px;
}

.radio {
  text-align: center;
  margin: 0 10px 0 10px;
}

.label {
  text-align: center;
  margin: 0 10px 0 10px;
}

.surveyIcon {
  display: inline-block;
  margin: 2em 0.5em 2em 0.5em;
}

.surveyIcon:hover {
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0.9;
}

.surveyIntroCard {
  width: 80%;
  position: relative;
  top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar {
  background-color: purple !important;
}

@media only screen and (max-width: 600px) {
  .surveyIntroCard {
    width: 100%;
  }
}
